# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

log/**/*
!log/**/*blog-item.txt

material/**/*
!material/**/*index.txt

projects/*
!projects/*.txt
!projects/*.md

notes/*
!notes/*.txt
!notes/*.md
notes/**/*
!notes/**/*.txt