[submodule "projects/ow_draft--1"]
	path = projects/ow_draft--1
	url = git@github.com:afincato/ow_draft--1.git
[submodule "projects/drawing-cursor"]
	path = projects/drawing-cursor
	url = git@github.com:afincato/drawing-cursor.git
[submodule "notes/ow-thesis"]
	path = notes/ow-thesis
	url = git@github.com:afincato/ow-thesis.git
[submodule "embodying-git-zine"]
	path = embodying-git-zine
	url = git@github.com:afincato/embodying-git-zine.git
[submodule "projects/embodying-git-zine"]
	path = projects/embodying-git-zine
	url = git@github.com:afincato/embodying-git-zine.git
[submodule "projects/ghost-index"]
	path = projects/ghost-index
	url = git@github.com:afincato/ghost-index.git
[submodule "thesis"]
	path = thesis
	url = ./thesis/
