[submodule "projects/ow_draft--1"]
	path = projects/ow_draft--1
	url = git@github.com:afincato/ow_draft--1.git
[submodule "projects/drawing-cursor"]
	path = projects/drawing-cursor
	url = git@github.com:afincato/drawing-cursor.git
[submodule "notes/ow-thesis"]
	path = notes/ow-thesis
	url = git@github.com:afincato/ow-thesis.git
[submodule "embodying-git-zine"]
	path = embodying-git-zine
	url = git@github.com:afincato/embodying-git-zine.git
