# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes


/*
!.gitignore
!*.txt
!*.md


# Folder specific
# projects/ow_draft--1/text-to-speech
# projects/Immaterial Labour Isn't Working—Recordings/
# projects/embodying git/
# projects/how to open a torrent's .part file/
# notes/presentation